<template>
  <div class="get-sms">
      <div class="get-sms__content">
          <img src="../../assets/img/icon-confirm-sms.svg" alt="" class="icon">

          <div class="label">Получение займа</div>

          <div class="descriptions" v-if="type === 'redirect'">
              Для завершения оформления вы будете перенаправлены на сайт “<span class="green-label">{{ bankName }}</span>”.
              После перехода на ваш телефон придет <span class="green-label">специальный код</span> подтверждения от {{ bankName }}. Укажите его в поле “<span class="green-label">промокод</span>” на сайте {{ bankName }}, нажмите
              “<span class="green-label">Подтвердить</span>” и далее следуйте инструкциям на сайте.
          </div>

          <div class="sent" v-if="type === 'api'">
              <span class="sent__title">Ваша заявка отправлена в “{{ bankName }}”</span>
              <span class="sent__subtitle">Вам отправлена смс с кодом подтверждения, для подтверждения введите код ниже.</span>

              <div class="form">
                  <img :src="bankLogo" alt="bank-logo">

                  <div class="input-block">
                      <input v-model="code" type="text">
                      <button @click.prevent="sendCode">Отправить</button>
                  </div>
              </div>

              <a href="#" class="back-link back-link-close  green-label" @click.prevent="hideConfirm">назад</a>
          </div>


          <button class="btn-main get-sms__btn-next" @click.prevent="next" v-if="type === 'redirect'">
              Продолжить
          </button>

          <a href="#" class="back-link green-label" v-if="type === 'redirect'" @click.prevent="hideConfirm">назад</a>
      </div>
  </div>
</template>

<script>
    export default {
        name: 'GetSms',
        props: {
            bankName: {
                type: String,
            },
            bankLogo: {
                type: String,
            },
            type: {
                type: String,
            },
            redirectUrl: {
                type: String,
            },
        },
        data: () => {
           return {
               code: null,
           };
        },
        methods: {
            next() {
                if(this.redirectUrl) {
                    window.open(this.redirectUrl, '_blank');
                }
            },
            sendCode() {
                this.$emit('sendCode', this.code);
            },
            hideConfirm() {
                this.$emit('hideConfirm');
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/style/mixins";

    .get-sms {
        width: 100%;
        height: 100%;

        position: fixed;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.9)), rgba(255, 255, 255, 0.7);

        z-index: 100;

        font-weight: bold;
        font-size: 32px;
        line-height: 39px;


        @include s_1020 {
            font-size: 24px;
            line-height: 29px;
        }

        &__content {
            max-width: 898px;
            width: 100%;

            background: #FFFFFF;
            box-shadow: 0 4px 64px rgba(159, 169, 188, 0.24), 0 4px 11px rgba(111, 111, 111, 0.35);
            border-radius: 12px;

            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            padding: 0 49px 30px 49px;

            @include s_1020 {
                max-width: 90%;
                padding: 0 10px 20px 10px
            }

            .icon {
                margin-top: -82px;

                width: 150px;
                height: 150px;
            }

            .label {
                margin-top: 15px;
            }

            .descriptions {
                margin-top: 30px;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                text-align: center;

                @include s_1020 {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }

        &__btn-next {
            padding: 10px 54px;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;

            margin-top: 30px;

            @include s_1020 {
                font-size: 18px;
                line-height: 22px;
                padding: 14px 100px;
                margin-top: 20px;
            }

            @include s_375 {
                padding: 13px 90px;
                margin-top: 20px;
            }
        }

        .back-link {
            text-decoration: none;
            font-size: 16px;
            line-height: 26px;
            text-align: center;

            margin-top: 20px;

            @include s_1020 {
                font-size: 16px;
                line-height: 26px;
            }
        }

        .back-link-close {
            @include s_834 {
                margin-top: 58px;
            }
        }

        .sent {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;

            @include s_834 {
                width: 100%;
            }

            &__title {
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;

                @include s_834 {
                    font-size: 14px;
                    line-height: 23px;
                }
            }

            &__subtitle {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;

                margin-top: 5px;
            }

            .form {
                margin-top: 15px;
                display: flex;
                align-items: center;

                @include s_834 {
                    flex-direction: column;
                }

                img {
                    width: 209px;
                    height: 68px;
                    margin-right: 20px;
                }

                .input-block {
                    position: relative;

                    @include s_834 {
                        align-self: flex-start;
                    }

                    @include min_379_max_834 {
                        margin-left: calc(50% - 160px);
                    }

                    @include s_375 {
                        margin-left: calc(50% - 140px);
                    }

                    input {
                        background: #FFFFFF;
                        border: 1px solid #3AB86F;
                        box-sizing: border-box;
                        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;


                        padding: 10px 15px;
                        border-radius: 5px 0 0 5px;

                        @include s_834 {
                            padding: 8px 15px;
                            position: absolute;
                            left: 0;
                        }

                        @include s_375 {
                            width: 168px;
                        }
                    }

                    button {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: #FFFFFF;

                        background: #3AB86F;
                        border: 1px solid #3AB86F;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px 24px;

                        position: absolute;
                        right: -128px;

                        @include min_1020 {
                            top: 1px;
                        }

                        @include s_834 {
                            padding: 8px 24px;
                            left: 200px;
                        }

                        @include s_375 {
                            left: 150px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .green-label {
        color: #3DCC79;
        font-weight: bold;
    }
</style>