<template>
    <div class="premium-modal">
        <div class="premium-modal__content">
            <img src="../../assets/img/icon-premium-modal.svg" class="premium-modal__icon">
            <span class="premium-modal__label">ПРЕМИУМ!</span>

            <span class="premium-modal__sub-label" v-if="theTime">Получить премиум акаунт</span>
            <span class="premium-modal__sub-label" v-else >На бесплатной версии может быть отправлена 1 заявка в 180 минут</span>

            <button class="btn-main btn-premium-modal" @click.prevent="openUrl">
                <span>Получить</span>
            </button>

            <span class="premium-modal__description">стоимость услуги составляет 1932 ₸</span>

            <span class="premium-modal__btn-back" @click="closeModal">Назад</span>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'Premium',
        props: {
          premiumUrl: {
              type: String,
              default: null,
          },
        },
        data: () => {
            return {
                timeLimit: null,
                expired: false,
            };
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            openUrl() {
                if(null !== this.premiumUrl) {
                    window.location.href = this.premiumUrl;
                } else {
                    this.closeModal();
                }
            }
        },
        computed: {
            theTime() {
                let ctx = this;

                if(ctx.timeLimit) {
                    let x = setInterval(function () {
                        let countDownDate = new Date(ctx.timeLimit).getTime(),
                            now = new Date().getTime(),
                            diff = countDownDate - now;

                        if (diff < 0) {
                            clearInterval(x);
                            ctx.expired = true;
                        }
                    }, 1000);

                    return ctx.expired;
                }

                return true;
            }
        },
        mounted() {
            this.timeLimit = localStorage.getItem('timeLimit');
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/style/mixins";
    @import "../../assets/style/colors";

    .premium-modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;

        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(25px);
        text-align: center;

        &__content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        &__icon {
            min-width: 180px;
            min-height: 180px;
        }

        &__label {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            text-transform: capitalize;

            color: $green;

            margin-top: 5px;
            margin-bottom: 20px;
        }

        &__sub-label {
            font-family: 'Montserrat-Bold', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;

            display: flex;
            align-items: center;
            text-align: center;

            color: #304456;

            letter-spacing: -0.9px;
        }

        &__description {
            font-family: 'Inter', sans-serif;
            margin-top: 15px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            text-align: center;

            color: #304456;
            letter-spacing: -0.9px;
        }

        &__btn-back {
            margin-top: 40px;
            font-family: 'Montserrat-Bold', sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #304456;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .btn-premium-modal {
        align-self: center;
        margin-top: 25px;
        padding: 13px 93px;

        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
    }

</style>