@import "colors";

body {
  background-image: url("../../assets/img/bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  color: $main;
}


.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}


// Button
.btn-main {
  background: $green;
  border-radius: 64px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: #FFFFFF;

  border: none;

  &:hover {
    cursor: pointer;
  }
}

// Accordion
.info-accord {
  margin-top: 55px;

  .open {
    span {
      color: $green;
    }

    .plus {
      display: none;
    }

    .minus {
      display: flex;
      align-items: center;
    }

    .text {
      display: block;
      padding-right: 10px;
    }
  }

  &__item {
    margin-bottom: 25px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(159, 169, 188, 0.56);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;

    color: $main;

    padding: 2px 0 3px 25px;

    .label {
      display: flex;
      justify-content: space-between;

      padding-top: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .text {
      display: none;
      margin-top: 25px;
    }

    @include s_1240 {
      line-height: 24px;
    }

    .plus, .minus {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $green;
      margin-right: 25px;
      display: flex;
      align-items: center;

      @include s_1240 {
        font-size: 20px;
        margin-right: 20px;
      }
    }

    .minus {
      display: none;
      margin-right: 23px;
    }
  }
}

// Text
.text-yellow {
  color: $yellow;
}

.text-green {
  color: $green;
}

.text-bold {
  font-weight: bold;
}

.text-dark, .text-gray {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  opacity: 1;
}

.text-gray {
  opacity: 0.67;
  font-weight: normal;
}

// Rate
.rate-value-star {
  background: linear-gradient(220.24deg, #FBFF23 18.51%, #FFA800 83.97%), #C4C4C4;
  border-radius: 0.5px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 19px;
  width: 18px;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

// Todo: Check
.sum {
  display: flex;
  flex-direction: row;


  .old-value {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    text-decoration-line: line-through;
    color: #FF695B;
    margin-right: 5px;
    padding-top: 6px;
  }

  .credit-color {
    color: #FF695B !important;
  }

  .value, .re-calc-value {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: right;

    color: #304456;

    margin-bottom: 10px;
    margin-right: 5px;
  }

  .re-calc-value {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .currency {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #304456;
    opacity: 0.67;

    align-self: center;
  }
}

// Links
.links {
  margin-top: 110px;

  @include s_1240 {
    margin: 50px 20px 0 20px;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @include min_1240 {
      max-width: 705px;
    }
  };

  &__item {
    text-decoration: none;
    width: 300px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;

    /* dark */
    color: #304456;

    background-color: #FFFFFF;
    border-radius: 5px;

    padding: 5px 0 5px 25px;

    box-shadow: 0 2px 8px rgba(159, 169, 188, 0.56);

    margin-bottom: 20px;

    span {
      border-bottom: 1px solid $main;
    }

    &:not(:nth-child(even)) {
      margin-right: 55px;
    }

    &:hover {
      background-color: #3DCC79;
      color: #FFFFFF;

      span {
        border-bottom: 1px solid #FFFFFF;
      }
    }



    @include s_1240 {
      width: 40%;
    }

    @include s_834 {
      width: 100%;
      margin-right: 0 !important;
    }
  }
}

// Information
.information {
  margin-top: 35px;

  @include s_1240 {
    margin: 35px 20px 0 20px;
  }

  .label {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: $main;

    @include s_1240 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .descriptions {
    margin-top: 15px;
    margin-left: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #304456;

    @include s_1240 {
      font-size: 16px;
      line-height: 26px;
      margin-left: 0;
    }
  }
}

// Display btn
.display {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #8D8D94;

  @include s_1240 {
    font-size: 8px;
    line-height: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}
//service
@import "service";