@mixin s_1240 {
  @media (max-width: 1239px) { @content; }
}

@mixin s_1020 {
  @media (max-width: 1020px) { @content; }
}

@mixin s_834 {
  @media (max-width: 833px) { @content; }
}

@mixin s_375 {
  @media (max-width: 374px) { @content; }
}

@mixin min_379_max_834 {
  @media (min-width: 379px) and (max-width: 834px) { @content; }
}

@mixin min_376_max_834 {
  @media (min-width: 376px) and (max-width: 833px) { @content; }
}

@mixin min_1020 {
  @media (min-width: 1020px) { @content; }
}

@mixin min_1020_max_1117 {
  @media (min-width: 1020px) and (max-width: 1117px) { @content; }
}

@mixin min_835_max_1240 {
  @media (min-width: 835px) and (max-width: 1239px) { @content; }
}

@mixin min_834_max_919 {
  @media (min-width: 834px) and (max-width: 919px) { @content; }
}

@mixin min_920_max_1240 {
  @media (min-width: 920px) and (max-width: 1239px) { @content; }
}

@mixin min_1117 {
  @media (min-width: 1117px) { @content; }
}

@mixin min_1240 {
  @media (min-width: 1240px) { @content; }
}

@mixin min_834 {
  @media (min-width: 834px) { @content; }
}

// Margin, padding
$max: 200;
$offset: 1;
$unit: 'px';

@mixin indentation($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}