<template>
    <div class="footer">
        <div class="container">
            <div class="info">
                <span class="name">MyTenge</span>
                <span class="copyright copyright-desc">{{ getDate() }}, Все права защищены</span>
            </div>

            <div class="contacts">
                <span class="icon-mail"></span>
                <span>Email: support@my-tenge.info</span>
            </div>

            <span class="copyright copyright-mob">{{ getDate() }}, Все права защищены</span>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            getDate() {
                return new Date().getFullYear();
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/style/mixins";

    .footer {
        background: #304456;
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 31px 0 32px 0;

        @include s_1240 {
            padding: 25px 10px 20px 10px;
        }

        @include s_834 {
            padding: 25px 0 20px 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include s_834 {
                flex-direction: column;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            @include s_834 {
                text-align: center;

                margin-bottom: 20px;

                .name {
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            .copyright-desc {
                @include s_834 {
                    display: none;
                }
            }
        }

        .contacts {
            display: flex;
            align-items: center;
            font-family: Inter, sans-serif;

            @include s_834 {
                flex-direction: column;
            }

            span {
                font-weight: 600;
                font-size: 18px;
                line-height: 40px;
                text-align: right;

                @include s_834 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 40px;
                }
            }

            .icon-mail {
                margin-right: 18px;
                background-image: url("../../assets/img/icon-mail.svg");
                background-position: center;
                background-repeat: no-repeat;
                width: 20px;
                height: 19.8px;
                display: block;
            }
        }

        .copyright-mob {
            display: none;
            @include s_834 {
                display: flex;

                font-weight: 500;
                font-size: 12px;
                line-height: 40px;
            }
        }

        .copyright {
            margin-top: 7px;
            font-family: Inter, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.4);
        }
    }
</style>