<template>
    <div class="header">
        <div class="container">
            <div class="header__content">
                <div class="nav">
                    <router-link tag="span" to="/" class="logo mr-44">MyTenge</router-link>

                    <button class="hamburger hamburger--collapse" :class="{'is-active': active}" type="button" @click.prevent="active = !active">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>

                    <div class="nav__links">
                        <router-link tag="a" :to="{name: 'Microloan'}" exact-active-class="active" class="nav__link">Мои предложения</router-link>
                        <router-link tag="a" :to="{name: 'Premium'}" exact-active-class="active" exact class="nav__link">Премиум аккаунт</router-link>
                        <a :href="links.promocodes" class="nav__link">Промокоды</a>
                        <a :href="links.profile" class="nav__link">Мой профиль</a>
                    </div>

                    <div class="nav__links-mob" :class="{ 'open': active }">
                        <router-link  tag="a" :to="{name: 'Microloan'}" exact-active-class="active" class="nav__link-mob">Мои предложения</router-link>
                        <router-link tag="a" :to="{name: 'Premium'}" exact-active-class="active" exact class="nav__link-mob">Премиум аккаунт</router-link>
                        <a :href="links.promocodes" class="nav__link-mob">Промокоды</a>
                        <a :href="links.profile" class="nav__link-mob">Мой профиль</a>
                    </div>
                </div>
                <div class="account" v-if="data.first_name">
                    <div class="account__info cursor-pointer">
                        <div class="account__label">
                            <span class="icon mr-11"></span>
                            <span class="text mr-13">{{ data.first_name }}</span>
                            <span class="arrow mt-3"></span>
                        </div>
                        <img class="account__img" src="../../assets/img/account-img.svg">
                    </div>

<!--                    <div class="lang ml-32 cursor-pointer">-->
<!--                        <span class="lang__icon"></span>-->
<!--                        <div class="lang__content ml-12">-->
<!--                            <span class="lang__value mr-10">РУC</span>-->
<!--                            <span class="arrow mt-6"></span>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "../../api";

    export default {
        data: () => {
            return {
                active: false,
                data: {},
                links: {
                    'offers': 'http://lk.my-tenge.info/offers',
                    'promocodes': 'http://lk.my-tenge.info/promocodes',
                    'profile': 'http://lk.my-tenge.info/profile',
                }
            };
        },
        mounted() {
            this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.me).then(response => {
                if(response.data) {
                    this.data = response.data;
                }
            }).catch(error => {
                if(error.response.status === 401) {
                    window.location.href = api.siteUrl;
                }
            });
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/style/colors";
    @import "../../assets/style/mixins";

    $hamburger-layer-width         : 26px !default;
    $hamburger-layer-height        : 3px !default;
    $hamburger-layer-color         : #304456 !default;

    @import "~hamburgers/_sass/hamburgers/hamburgers";

    .header {
        font-style: normal;
        font-weight: normal;

        padding: 75px 0 0 0;

        .hamburger {
            display: none;
        }

        @include s_1240 {
            padding: 46px 20px 0 20px;

            .hamburger {
                display: flex;
            }
        }

        .logo {
            font-family: Montserrat-Bold, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: $main;

            &:hover {
              cursor: pointer;
            }
        }

        .nav {
            display: flex;
            align-items: center;

            @include s_1240 {
                width: 100%;
                justify-content: space-between;
            }

            &__links {
                @include s_1240 {
                    display: none;

                    &-mob {
                        display: flex;
                    }
                }
            }

            &__link, {
                text-decoration: none;
                font-family: Inter, sans-serif;
                font-size: 14px;
                line-height: 17px;
                color: $nav-link;

                &:visited {
                    color: $nav-link;
                }

                &:not(:last-child) {
                    &:after {
                        color: #E6E6EB;
                        content: "|";
                        padding: 0 24px;
                    }
                }

                @include s_1240 {
                    display: none;
                }
            }

            &__links-mob, {
                display: none;
                @include s_1240 {
                    display: none;
                    flex-direction: column;

                    padding: 20px 10px;
                    background: #FFFFFF;
                    position: absolute;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-height: 300px;
                    z-index: 100;
                    border-radius: 12px;
                }
            }

            &__link-mob, {
                display: flex;
                text-decoration: none;
                font-family: Inter, sans-serif;
                font-size: 14px;
                line-height: 17px;
                color: $nav-link;

                &:visited {
                    color: $nav-link;
                }

                @include s_1240 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    padding-bottom: 15px;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        .active {
            color: #3DCC79 !important;
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }
    }

    .open {
        display: flex !important;
    }

    .account {
        display: none;
        @include min_1240 {
            display: flex;
        }

        &__label {
            background: #FFFFFF;
            border: 1px solid #F6F6FA;
            box-sizing: border-box;
            border-radius: 57px;

            padding: 8px 0 8px 8px;
            display: flex;
            align-items: center;
            width: 165px;
            height: 32px;

            .text {
                font-size: 14px;
                line-height: 16px;
                color: #334657;
                font-weight: normal;
            }

            .icon {
                display: flex;
                background-image: url("../../assets/img/icon-premium.svg");
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &__info {
            display: flex;
            position: relative;
        }

        &__img {
            display: flex;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);

            position: absolute;
            top: -8px;
            right: 0;
        }
    }

    .lang {
        display: flex;
        align-items: center;

        &__icon {
            display: flex;
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url("../../assets/img/icon-lang.svg");
        }

        &__value {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $main;
        }

        &__content {
            display: flex;
        }
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #304456;
        border-radius: 0.5px;
        display: block;
    }

</style>