<template>
    <div>
        <Confirm
                v-if="confirm"
                 @hideConfirm="hideConfirm"
                 @sendCode="sendCode"
                :bankName="offer.name"
                :bankLogo="`${$api.baseUrl}/${offer.image}`"
                :type="offer.type"
                :redirect-url="offer.link"
        >

        </Confirm>
        <PremiumModal
                v-if="premiumModal"
                :url="premiumUrl"
                @close="closePremiumModal"
        />

        <Header />
            <div class="approved mt-150 mb-55">
                <div class="container">
                    <div class="approved__info">
                        <img src="../assets/img/approved.svg">
                        <div class="label">
                            <span>Вам одобрен займ!</span>
                            <span class="microloan">Микрозайм</span>
                        </div>
                        <div class="date">
                            <div class="approval">
                                <span class="date__label">Дата одобрения:</span>
                                <span v-if="subscription && offer.last_use" class="chance-value">{{ offer.last_use.date | date }}</span>
                                <span v-if="subscription && !offer.last_use" class="chance-value">{{ new Date() | date }}</span>

                                <router-link :to="{'name': 'Premium'}" tag="span" v-if="!subscription" class="display">Показать</router-link>
                            </div>

                            <div class="valid">
                                <span class="date__label">Действительно ещё:</span>
                                <span class="text-yellow">3 дня</span>
                            </div>
                        </div>

                        <div class="descriptions">
                            <div class="text">
                                Еще раз обратите внимание на <span class="text-bold">условия получения
                                займа</span>. Если Вы согласны на эти условия, Вам осталось только нажать
                                кнопку <span class="text-green cursor-pointer" @click.prevent="applyOffer">“Отправить заявку”</span>
                            </div>

                            <button class="btn-main approved__btn approved__money"  @click.prevent="applyOffer">
                                Получить деньги
                            </button>
                        </div>
                    </div>

                    <div class="approved__conditions">
                        <span class="label">Условия Займа</span>

                        <div class="date">
                            <div class="approval">
                                <span class="date__label">Дата одобрения:</span>

                                <span v-if="subscription && offer.last_use" class="chance-value">{{ offer.last_use.date | date }}</span>
                                <span v-if="subscription && !offer.last_use" class="chance-value">{{ new Date() | date }}</span>
                                <router-link :to="{'name': 'Premium'}" tag="span" v-if="!subscription" class="display">Показать</router-link>
                            </div>

                            <div class="approval">
                                <span class="date__label">Одобрение до:</span>

                                <span v-if="subscription && offer.last_use" class="chance-value">{{ getApprovalDate(offer.last_use) | date }}</span>
                                <router-link :to="{'name': 'Premium'}" tag="span" v-else class="display">Показать</router-link>
                            </div>
                        </div>

                        <div class="info">
                            <div class="info__block info__block-creditor">
                                <div class="approval approval-creditor">
                                    <span class="date__label">Кредитор:</span>
                                </div>
                                <img :src="`${$api.baseUrl}/${offer.image}`" alt="bank-logo">

                                <div :class="{'mt-20': !subscription}">
                                    <div v-if="subscription" class="rate-value-stars info__stars">
                                        <span class="rate-value-star" v-for="i in getRange(offer.rating)"></span>
                                    </div>

                                    <div class="rate">
                                        <span class="rate__label text-green">Рейтинг:</span>

                                        <span v-if="subscription" class="rate__value">{{ offer.rating }}</span>
                                        <router-link :to="{'name': 'Premium'}" tag="span" v-else class="display">Показать</router-link>
                                    </div>
                                </div>
                            </div>

                            <div class="info__block info__half-block">
                                <div class="approval">
                                    <span class="date__label">Сумма:</span>
                                </div>

                                <div class="sum"><span class="value">{{ sum }}</span><span class="currency">тенге</span></div>
                            </div>

                            <div class="info__block  info__half-block">
                                <div class="approval">
                                    <span class="date__label">Ставка в день:</span>
                                </div>

                                <div class="sum">
                                    <span v-if="subscription"  class="value">{{ offer.rate }}%</span>
                                    <router-link :to="{'name': 'Premium'}" tag="span" v-else class="display">Показать</router-link>
                                </div>
                            </div>

                            <div class="info__block  info__half-block">
                                <div class="approval">
                                    <span class="date__label">Переплата:</span>
                                </div>

                                <div class="sum"><span class="value">{{(sum * parseFloat(offer.rate) * term) / 100 }}</span><span class="currency">тенге</span></div>
                            </div>

                            <div class="info__block  info__half-block">
                                <div class="approval">
                                    <span class="date__label">К возврату:</span>
                                </div>

                                <div class="sum"><span class="value">{{ sum + ((sum * parseFloat(offer.rate) * term)  / 100)}}</span><span class="currency">тенге</span></div>
                            </div>

                            <div class="info__block  info__half-block">
                                <div class="approval">
                                    <span class="date__label">Дата погашения:</span>
                                </div>

                                <div class="sum"><span class="value">{{ maturityDate() | date }}</span></div>
                            </div>

                            <div class="info__block  info__half-block">
                                <div class="approval">
                                    <span class="date__label">Грейс период:</span>
                                </div>

                                <div class="sum" v-if="subscription && offer.grace_period"><span class="value">{{ offer.grace_period }}</span><span class="currency">{{ offer.grace_period | plural(["день", "дня", "дней"]) }}</span></div>
                                <div class="sum" v-if="subscription && !offer.grace_period"><span class="value not-value">—</span></div>
                                <div class="sum" v-if="!subscription">
                                    <router-link :to="{'name': 'Premium'}" tag="span"  class="display">Показать</router-link>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="approved__loan">
                        <button class="btn-main approved__btn" @click.prevent="applyOffer">
                            Получить деньги
                        </button>

                        <div class="info">
                            <span class="icon"></span>
                            <div class="text">Одобрение займа действительно до 3 дней с момента подачи заявки. Осталось <span class="text-yellow">3 дня</span>, чтобы получить займ.</div>
                        </div>
                    </div>
                    <FooterInfo />
                </div>
            </div>
        <Footer />
    </div>
</template>

<script>
    import Confirm from "./PopUps/Confirm";
    import FooterInfo from "./FooterInfo";
    import Header from "./Partials/Header";
    import Footer from "./Partials/Footer";
    import PremiumModal from "./PopUps/Premium";

    export default {
        name: 'Approved',
        components: {
            Header,
            FooterInfo,
            Confirm,
            Footer,
            PremiumModal,
        },
        data: () => {
            return {
                user_id: null,
                subscription: null,
                offer: {
                    last_use: null,
                },
                confirm: false,
                sum: 0,
                term: 1,
                premiumModal: false,
                premiumUrl: null,
            };
        },
        methods: {
            showHide(ref) {
                if(this.$refs[ref].classList.contains('open')) {
                    this.$refs[ref].classList.remove('open')
                } else {
                    this.$refs[ref].classList.add('open')
                }
            },
            applyOffer() {
                this.premiumUrl = null;
                this.premiumModal = true;

                this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.subscription_start).then(response => {
                    if(response.data.url) {
                        this.premiumUrl = response.data.url;
                    }
                }).catch(error => console.log(error));

                // if(this.user_id && this.offer.id) {
                //     const data = {
                //         'offer_id': this.offer.id,
                //         'user_id': this.user_id,
                //     };
                //
                //     this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.offerUse, data).then(response => {
                //         if(this.offer.type === 'api' && parseInt(this.offer.sms) === 1) {
                //             if(response.data.status) {
                //                 this.confirm = true;
                //             }
                //         } else if(this.offer.type !== 'api') {
                //             if(response.data.status) {
                //                 this.confirm = true;
                //             }
                //         }
                //     }).catch(error => console.log(error));
                // }
            },
            sendCode(code) {
              if(code) {
                  if(this.user_id && this.offer.id) {
                      const data = {
                          'offer_id': this.offer.id,
                          'user_id': this.user_id,
                          'sms_code': code,
                      };

                      this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.offerUse, data).then(response => {
                          if(response.data.status) {
                              this.confirm = false;
                          }
                      }).catch(error => console.log(error));
                  }
              }
            },
            hideConfirm() {
                this.confirm = false;
            },
            maturityDate() {
                let currentDay = new Date();
                let endDate = 3;
                if(this.$route.params.term) {
                    endDate = parseInt(this.$route.params.term);
                }

                currentDay.setDate(currentDay.getDate() + endDate);
                return currentDay;
            },
            getApprovalDate(date) {
                let currentDate = new Date();
                if(null !== date) {
                    currentDate = new Date(date.date);
                }

                currentDate.setDate(currentDate.getDate() + 3);

                return currentDate;
            },
            getRange(rating) {
                if(rating) {
                    return Math.ceil(rating);
                }

                return 1;
            },
            closePremiumModal() {
              this.premiumModal = false;
            },
        },
        mounted() {
            if(this.$route.params.amount && this.$route.params.term) {
                this.sum = parseInt(this.$route.params.amount);
                this.term = parseInt(this.$route.params.term);

                let approved = JSON.parse(localStorage.getItem('approved' + this.$route.params.id));

                if(!approved || (this.sum.toString() !== approved.sum || this.term !== approved.term)) {
                    localStorage.setItem('approved' + this.$route.params.id, JSON.stringify({
                        'sum': this.sum,
                        'term': this.term,
                    }))
                }
            } else {
                let approved = JSON.parse(localStorage.getItem('approved' + this.$route.params.id));

                if(approved) {
                    this.sum = parseInt(approved.sum);
                    this.term = parseInt(approved.term);
                }
            }

            this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.me).then(response => {
                if(response.data) {
                    this.user_id = response.data.id;
                    this.subscription = response.data.subscription;
                }
            }).catch(error => console.log(error));


            this.$axios.get(this.$api.baseUrl + this.$api.apiUrl.offer + '/' + this.$route.params.id).then(response => {
                if(response.data.success) {
                    this.offer = response.data.data;
                }
            }).catch(error => console.log(error));
        }
    }
</script>

<style scoped lang="scss">
    @import "../assets/style/mixins";

    .approved {
        display: flex;
        flex-direction: column;
        align-content: center;
        position: relative;

        .display {
            font-size: 10px;
            line-height: 12px;
        }

        @include s_1240 {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__btn {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            padding: 21px 70px 21px 71px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            position: relative;

            padding: 29px 25px 31px 26px;

            background: #FFFFFF;

            border: 1px solid #F6F6FA;
            box-shadow: 0 4px 64px rgba(159, 169, 188, 0.24);
            border-radius: 12px;

            @include s_1020 {
                align-items: center;
                padding: 0 10px 40px 10px;
            }

            .label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-transform: capitalize;

                @include s_1020 {
                    margin-top: 103px;
                }

                @include s_375 {
                    font-size: 22px;
                }

                .microloan {
                    font-size: 16px;
                    line-height: 19px;

                    @include s_1020 {
                        display: none;
                    }
                }
            }

            img {
                align-self: center;
                width: 186px;
                height: 186px;
                position: absolute;
                top: -93px;
            }

            .date {
                display: flex;

                @include s_1020 {
                    flex-direction: column;
                    align-items: center;
                }

                .approval, .valid {
                    margin: 15px 25px 0 0;
                }

                .valid {
                    @include s_1020 {
                        margin-top: 10px;
                    }
                }

                &__label {
                    opacity: 0.67;
                    margin-right: 5px;
                }
            }

            .descriptions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                @include s_1020 {
                    margin-top: 30px;
                    flex-direction: column;
                    text-align: center;
                }

                @include s_375 {
                    max-width: 265px;
                }

                .text {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    max-width: 711px;
                }

                .approved__money {
                    max-height: 72px;
                    max-width: 348px;

                    @include s_1240 {
                        margin-top: 30px;
                        padding: 14px 80px 14px 79px;
                        height: 50px;
                        width: 315px;

                        font-size: 18px;
                        line-height: 22px;
                    }

                    @include min_1020_max_1117 {
                        padding: 12px 23px 12px 23px;
                    }

                    @include s_375 {
                        max-width: 250px;
                        padding: 12px 25px 12px 25px;
                    }
                }
            }
        }

        &__conditions {
            margin-top: 50px;

            padding: 0 25px 0 26px;

            @include s_1020 {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
            }

            .label {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                @include s_1020 {
                    margin-bottom: 5px;
                }
            }

            .date {
                display: flex;
                flex-direction: row;

                @include s_1020 {
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: flex-start;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                margin-top: 35px;

                @include s_1020 {
                    flex-flow: row wrap;
                    justify-content: space-between;

                    &__half-block {
                        width: 155px;
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 30px;
                    }
                }


                img {
                    width: 127px;
                    height: 42px;
                    margin: 5px 0;

                    @include s_1020 {
                        width: 152px;
                        height: 50px;
                    }
                }

                &__block {
                    display: flex;
                    flex-direction: column;

                    .sum {
                        margin-top: 17px;

                        .value {
                            margin-bottom: 0;
                        }

                        .not-value {
                            width: 100%;
                            text-align: center;
                        }

                        .display {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }

                    .approval, .date__label {
                        margin: 0;
                    }

                    @include s_1020 {
                        .approval-creditor {
                            display: none;
                        }

                        &-creditor {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 30px;
                            width: 100%;

                            @include s_834 {
                                img {
                                    margin-right: 28px;
                                }
                            }
                        }
                    }

                    @include s_375 {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                @include s_834 {
                    &__half-block {
                        display: flex;

                        .sum-n-premium {
                            align-self: center;
                        }
                    }
                }

                &__stars {
                    width: 127px;
                    display: flex;
                    justify-content: space-between;
                }

                .rate {
                    width: 127px;
                    display: flex;
                    justify-content: space-between;

                    &__rate__premium {
                        margin-top: 20px;
                    }

                    &__label {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    &__value {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: right;
                    }
                }

                @include s_1020 {
                    width: 100%;
                }
            }
        }

        &__loan {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                max-height: 72px;
                max-width: 348px;

                @include s_1020 {
                    padding: 14px 90px 14px 89px;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 35px;
                }

                @include min_1020_max_1117 {
                    padding: 14px 90px 14px 89px;
                    font-size: 18px;
                    line-height: 22px;
                }

                @include min_835_max_1240 {
                    padding: 14px 80px 14px 79px;
                }
            }

            @include s_1020 {
                display: flex;
                flex-direction: column;
            }

            .info {
                padding: 34px;
                background: #FFFFFF;
                border: 1px solid #F6F6FA;
                border-radius: 12px;
                box-shadow: 0 4px 25px rgba(159, 169, 188, 0.24);

                max-width: 763px;

                display: flex;
                align-items: center;

                @include s_1240 {
                    max-width: 550px;
                }

                @include s_1020 {
                    padding: 15px;
                }

                .icon {
                    width: 80px;
                    height: 80px;

                    max-width: 80px;
                    max-height: 80px;
                    min-width: 80px;
                    min-height: 80px;

                    margin-right: 35px;

                    background: url("../assets/img/icon-timer.svg") no-repeat center;
                    background-size: cover;

                    @include s_1020 {
                        min-width: 50px;
                        max-width: 50px;
                        min-height: 50px;
                        max-height: 50px;

                        margin-right: 15px;
                    }
                }

                .text {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;

                    @include s_1020 {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        .links {
            @include s_1020 {
               margin: 50px 0 0 0;
            }

            &__item {
                padding: 5px 0 5px 25px;
            }
        }
    }


    .approval, .valid {
        margin: 15px 25px 0 0;

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }

    .date__label {
        opacity: 0.67;
        margin-right: 5px;
    }

</style>