<template>
    <div>
        <div class="links">
            <div class="links__items">
                <a :href="$api.siteUrl + $api.links.documents" class="links__item"><span>Документы</span></a>
                <a :href="$api.siteUrl + $api.links.contacts" class="links__item"><span>Контакты</span></a>
                <a :href="$api.siteUrl + $api.links.premium" class="links__item"><span>Тарифы</span></a>
                <a :href="$api.siteUrl + $api.links.unsubscribe" class="links__item"><span>Отменить подписку</span></a>
            </div>
        </div>

        <div class="information">
            <span class="label">Потребительская информация</span>
            <div class="descriptions">
                Услуги на проекте «MyTenge» оказывает ИП СИМОВ Н.А., ИНН 615018734300, ОГРНИП 320237500090117 Если у Вас возникли вопросы по работе сервиса, Вы можете ознакомиться с разделом Вопросы и ответы, либо задать Ваш вопрос нашей службе поддержки
                <br><br>
                Проект осуществляет подбор финансовых продуктов для клиентов, являясь посредником между клиентом, желающим взять ссуду, и лицензированным финансовым учреждением. Проект my-tenge.info не является финансовым учреждением, банком или кредитором, и не несёт ответственности за любые заключенные договоры кредитования или условия. Расчёты носят приблизительный характер, окончательные условия уточняйте на сайте кредитной организации. Чтобы оформить заявку, Вам необходимо ознакомиться с правилами сервиса и заполнить анкету. Сайт использует куки для предоставления услуг. Условия хранения или доступа к куки Вы можете настроить в своём браузере. Сервис предназначен для лиц старше 18 лет. Стоимость услуг регулируется действующими тарифами. Если услуга перестала быть актуальной для Вас (Вы получили займ или более не нуждаетесь в займах), Вы можете самостоятельно отписаться от услуги в любой момент - <u> <a :href="$api.siteUrl + $api.links.unsubscribe" class="info-link">отменить подписку</a></u>
                <br><br>
                Внимание! Услуга обработки заявки является платной и составляет 1932 тнг., списание производиться в валюте РФ (рубли). Услуга далее по сайту — «<u><a :href="$api.siteUrl + $api.links.premium" class="info-link">Премиум аккаунт</a></u>». Для отключения подписки удалите карты в <u><a :href="$api.siteUrl + $api.links.account" class="info-link">личном кабинете</a></u> сайта.
            </div>
        </div>

        <div class="info-accord">
            <div class="info-accord__items">
                <div class="info-accord__item" ref="first-info-block">
                    <div class="info-accord__label">
                        <div class="label" @click.prevent="showHide('first-info-block')">
                            <span>Сроки погашения и процентные ставки</span>
                            <span class="plus">+</span>
                            <span class="minus">—</span>
                        </div>

                        <div class="text">
                            Годовая процентная ставка по кредиту составляет не менее 30%, максимальная не более 365%. Срок кредита от 91 дня до 2-х лет.
                        </div>
                    </div>
                </div>

                <div class="info-accord__item" ref="second-info-block">
                    <div class="info-accord__label">
                        <div class="label" @click.prevent="showHide('second-info-block')">
                            <span>Пример расчета онлайн-ссуды</span>
                            <span class="plus">+</span>
                            <span class="minus">—</span>
                        </div>

                        <div class="text">
                            Если вы взяли ссуду на сумму 100 000 тенге на 3 месяца с процентной ставкой 4,5% в месяц, то после истечения срока ссуды переплата составит 13 500 тенге. Получается вы возвращаете 113 500 тенге. Ниже приведены расчеты начисляемых процентов для дальнейшего самостоятельного вычисления суммы возврата ссуды (с процентом) пользователям среднего сервиса. Сумма - 100 000 тенге, процент в месяц - 4,5%, срок ссуды - 3 месяца. 4,5(%) * 3(мес) = 13,5% за 3 месяца(13,5% * 100 000 тенге (сумма ссуды) )/100% = 13 500 тенге (сумма начисленных процентов) 100 000 + 13 500 = 113 500 тенге - это сумма необходимых денег к возврату через 3 месяца. В случае нарушения сроков, размер неустойки составляет 0,10% от суммы просрочки в день, но не более 10% от суммы ссуды. В случае длительной задержки выплаты информация будет передана в БКИ. Продление ссуды возможно при своевременном информировании кредитора (до наступления даты возврата займа) и уплаты процентов за первичный срок ссуды. Дополнительных комиссий за продление ссуды не предусмотрено.
                        </div>
                    </div>
                </div>

                <div class="info-accord__item" ref="third-info-block">
                    <div class="info-accord__label">
                        <div class="label" @click.prevent="showHide('third-info-block')">
                            <span>Что будет при невыплате ссудных средств</span>
                            <span class="plus">+</span>
                            <span class="minus">—</span>
                        </div>

                        <div class="text">
                            В случае невозвращения в условленный срок суммы ссуды или суммы процентов за пользование ссудными средствами кредитор вынуждено начислит штраф за просрочку платежа. Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно. Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для ссуды, 0,03% от суммы задолженности в среднем для потребительских кредитов и кредитных карт. При несоблюдении Вами условий по погашению кредитов, данные о Вас могут быть переданы в реестр должников или БКИ, что негативно может сказаться на Вашей кредитной истории и рейтинге кредитоспособности. Задолженность может быть передана коллекторскому агентству для взыскания долга. При допуске просрочки продление ссуды невозможно. Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваш рейтинг кредитоспособности и шансы в дальнейшем получить кредит на более выгодных условиях.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FooterInfo',
        methods: {
            showHide(ref) {
                if(this.$refs[ref].classList.contains('open')) {
                    this.$refs[ref].classList.remove('open')
                } else {
                    this.$refs[ref].classList.add('open')
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .info-link {
        text-decoration: none;
        color: #304456;
        &:visited {
            color: #304456;
        }
    }
</style>