<template>
  <div>
    <Preloader v-if="preloader"></Preloader>

    <Header />
    <div class="microloan mb-55">

      <div class="container  mt-45">
        <div class="filter">
          <div class="filter__header-block">
            <div class="filter__header-block-left">
              <h1 class="filter__label">Микрозайм</h1>
              <h2 class="filter__amount">Желаемая сумма:</h2>
            </div>

            <div class="filter__header-block-right">
              <button class="filter__btn" :class="{'filter__btn__active': bank}" @click.prevent="bank = !bank">Кредит</button>
              <button class="filter__btn" :class="{'filter__btn__active': mfo}" @click.prevent="mfo = !mfo">Кредитная карта</button>
            </div>
          </div>

          <div class="filter__footer-block">
            <div class="filter__sliders">
              <div class="filter__slider">
                <span class="current-sum">{{ amount | divide }} ₸</span>
                <input type="range" class="range" v-model="amount" :min="minAmount" :max="maxAmount" step="100" />
                <span class="min-sum">{{ minAmount | divide }} ₸</span>
                <span class="max-sum">{{ maxAmount | divide }} ₸</span>
              </div>

              <div class="filter__slider">
                <h2 class="filter__amount">Срок:</h2>
                <span class="current-term">{{ term }} {{ term | plural(["день", "дня", "дней"]) }}</span>
                <input type="range" class="range" v-model="term" :min="minTerm" :max="maxTerm" step="1" />
                <span class="min-sum">{{ minTerm }} {{ minTerm | plural(["день", "дня", "дней"]) }}</span>
                <span class="max-sum">{{ maxTerm }} {{ maxTerm | plural(["день", "дня", "дней"]) }}</span>
              </div>
            </div>


            <button class="btn-main filter__btn-result" @click.prevent="showFilteredOffers">
              Показать результаты
              <span class="count">
                <span class="value">{{ offersCount}}</span>
              </span>
            </button>
          </div>

          <button class="btn-main filter__btn-result-mob" @click.prevent="showFilteredOffers">
            Показать результаты
            <span class="count">
                <span class="value">{{ offersCount}}</span>
              </span>
          </button>
        </div>

        <div class="results">
          <div class="results__items">
            <div class="results__item" v-for="offer in offers" :key="offer.id">
              <div class="bank">
                <div class="info-label chance">
                  <span class="label">Шанс одобрения</span>

                  <span v-if="subscription" class="chance-value">{{ offer.chance }}%</span>

                  <router-link :to="{'name': 'Premium'}" tag="span" v-else class="display">Показать</router-link>
                 </div>

                <div class="logo" :class="{'logo__premium': subscription}">
                  <img :src="`${$api.baseUrl}/${offer.image}`">
                 </div>

                <div class="info-label rate">
                  <div v-if="subscription" class="rate-value-stars">
                    <span class="rate-value-star" v-for="i in Math.ceil(offer.rating)"></span>
                  </div>

                  <span class="label">Рейтинг</span>

                  <span v-if="subscription" class="rate-value">{{ offer.rating }}</span>
                  <router-link :to="{'name': 'Premium'}" tag="span" v-else class="display">Показать</router-link>
                </div>
              </div>

              <div class="sum">
                <div class="calc">
                  <div class="calc__block calc__block-body">
                    <span class="label">Сумма</span>
                    <div class="sum"><span class="value">{{ requestData.amount }}</span><span class="currency">₸.</span></div>
                  </div>
                  <span class="plus mr-20"></span>


                  <div class="calc__block calc__block-commission">
                    <span class="label">Комиссия</span>
                    <div class="sum">
                      <span class="old-value" v-show="false">122 ₸.</span>
                      <span class="value">{{ (parseFloat(offer.rate) * requestData.amount * requestData.term) / 100 }}</span>
                      <span class="currency">₸.</span>
                    </div>
                  </div>
                  <span class="equal microloan__equal"></span>

                  <div class="calc__block calc__block-credit">
                    <span class="label">Кредит</span>
                    <div class="sum">
                      <span class="value credit-color">{{ parseFloat(requestData.amount) + parseFloat((parseFloat(offer.rate) * requestData.amount * requestData.term) / 100) }}</span>
                      <span class="currency credit-color">₸.</span>
                    </div>
                  </div>
                </div>

                <div class="re-calc">
                  <div class="calc__block calc__block-first-credit">
                    <span class="label">1-й кредит</span>
                    <div class="sum"><span class="re-calc-value">{{ offer.limit_max_first }}</span><span class="currency">₸.</span></div>
                  </div>


                  <div class="calc__block calc__block-repeated-credit">
                    <span class="label">Повторный</span>
                    <div class="sum">
                      <span class="re-calc-value">{{ offer.limit_max }}</span>
                      <span class="currency">₸.</span>
                    </div>
                  </div>

                  <div class="calc__block">
                    <span class="label">Срок</span>
                    <div class="sum">
                      <span class="re-calc-value">{{ offer.term_min }}-{{ offer.term_max }}</span>
                      <span class="currency">{{ offer.term_unit }}.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="control">
                <button
                        class="btn-main results__apply"
                        @click.prevent="applyOffer(offer.id)">
                  Подать заявку
                </button>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="info__block waiting" v-if="!subscription && !expired">
              <div class="info__icon"></div>
              <span class="info__label">{{ `${theTime.minutes}:${theTime.seconds}` }}</span>
              <div class="info__descriptions">Следующая заявка будет доступна по истечение времени выше
              </div>

              <router-link :to="{'name': 'Premium'}" class="btn-waiting-premium">
                Получить премиум
              </router-link>

              <span class="info__descriptions">
                стоимость услуги составляет 1932 ₸
              </span>

            </div>

            <div class="info__block warning" v-if="!subscription">
              <div class="info__icon"></div>
              <span class="info__label">ВАЖНО!</span>
              <span class="info__descriptions">Для Вашего аккаунта действует ограничение:</span>
              <span class="info__sub-descriptions">1 заявка в 180 минут.</span>
            </div>

            <div class="info__block success" v-if="!subscription">
              <div class="info__icon"></div>
              <span class="info__label">ПРЕМИУМ!</span>
              <div class="info__descriptions">Снимите ограничение и отправьте все одобренные заявки. Получите возможность просматривать
                <span class="text-dark">шанс одобрения</span> и  <span class="text-dark">рейтинги банков</span>
              </div>

              <router-link :to="{'name': 'Premium'}" tag="button" class="btn-main btn-premium">
                Получить премиум
              </router-link>

              <span class="info__descriptions">
                стоимость услуги составляет 1932 ₸
              </span>

            </div>

            <div class="info__block success" v-if="subscription">
              <div class="info__icon"></div>
              <span class="info__label">ПРЕМИУМ!</span>
              <div class="info__descriptions">Премиум статус активен! <br>
                Спасибо!
              </div>

              <router-link :to="{'name': 'Premium'}" tag="button" class="btn-main btn-premium btn-premium__more">
                Подробнее
              </router-link>

              <router-link :to="{'name': 'Premium'}" tag="span" class="info__descriptions cursor-pointer">
                подробнее об аккаунте
              </router-link>

            </div>
          </div>
        </div>

      <FooterInfo></FooterInfo>
      </div>

      <div class="mobile-info">
        <div class="info__block success" ref="success-info" @click.prevent="showHide('success-info')">
          <div class="info__icon"></div>

          <div class="info__descriptions">
            Снимите ограничения
            <span class="text-gray">Получите возможность просматривать</span>
            шанс одобрения <span class="text-gray">и</span> рейтинги банков
          </div>
        </div>
        <div class="info__block warning"
             ref="warning-info"
             @click.prevent="showHide('warning-info')"
             v-if="!subscription && expired"
        >
          <div class="info__icon"></div>

          <div class="info__descriptions">
            <span class="text-gray">Для Вашего аккаунта действует ограничение:</span>
            <br>1 заявка в 180 минут.
          </div>

        </div>

        <div class="info__block waiting"
             ref="waiting-info"
             @click.prevent="showHide('waiting-info')"
             v-if="!subscription && !expired"
        >
          <span class="time time-l">{{ `${theTime.minutes}:${theTime.seconds}` }}</span>
          <div class="info__icon"></div>

          <div class="info__descriptions info__descriptions-waiting">
            <span class="text-gray">Следующая заявка будет доступна через</span>
            <span class="time">{{ `${theTime.minutes}:${theTime.seconds}` }}</span>
          </div>

        </div>
      </div>

    </div>

    <Footer />
  </div>
</template>

<script>
import Preloader from "./Preloader";
import Confirm from "./PopUps/Confirm";
import FooterInfo from "./FooterInfo";
import Header from "./Partials/Header";
import Footer from "./Partials/Footer";

export default {
  name: 'Microloan',
  components: {
    Preloader,
    Confirm,
    FooterInfo,
    Header,
    Footer,
  },
  filters: {
    divide: function (value) {
      let int = String(Math.trunc(value));
      if(int.length <= 3) return int;
      let space = 0;
      let number = '';

      for(let i = int.length - 1; i >= 0; i--) {
        if(space === 3) {
          number = ' ' + number;
          space = 0;
        }
        number = int.charAt(i) + number;
        space++;
      }

      return number;
    },
},
  data: () => {
    return {
      amount: 10000,
      minAmount: 0,
      maxAmount: 0,

      term: 10,
      minTerm: 1,
      maxTerm: 30,

      responseData: {
        offers: [],
      },

      requestData: {
        amount: 0,
        term: 0,
      },

      offers: [],
      filteredOffers: [],

      subscription: null,

      timeLimit: '',
      minutes: '00',
      seconds: '00',
      expired: false,

      preloader: false,

      offersCount: 0,

      bank: false,
      mfo: false,
    };
  },
  methods: {
    showHide(ref) {
      if(this.$refs[ref].classList.contains('open')) {
        this.$refs[ref].classList.remove('open')
      } else {
        this.$refs[ref].classList.add('open')
      }
    },
    showFilteredOffers() {
      this.preloader = true;

      setTimeout(() =>  {
        this.requestData.amount = this.amount;
        this.requestData.term = this.term;
        this.filterOffer();
        this.saveOffers();
        this.preloader = false;
      }, 3000);
    },
    filterOffer() {
      if((this.bank && this.mfo) || (!this.bank && !this.mfo)) {
        this.offers = this.filteredOffers;
      } else {
        if(this.bank) {
          this.offers = this.filteredOffers.filter(function(offer) {
            return offer.category === 'bank';
          });
        }

        if(this.mfo) {
          this.offers = this.filteredOffers.filter(function(offer) {
            return offer.category === 'mfo';
          });
        }
      }
    },
    getOfferCount() {
      if((this.bank && this.mfo) || (!this.bank && !this.mfo)) {
        return this.filteredOffers.length;
      } else {
        if(this.bank) {
          let offers = this.filteredOffers.filter(function(offer) {
            return offer.category === 'bank';
          });

          return offers.length;
        }

        if(this.mfo) {
          let offers = this.filteredOffers.filter(function(offer) {
            return offer.category === 'mfo';
          });

          return offers.length;
        }
      }
    },
    applyOffer(id) {
      if(!this.subscription && this.expired) {
        this.setTimeLimit();
      }

      this.$router.push({
        name: 'Approved',
        params: {
          id: id,
          amount: this.requestData.amount,
          term: this.requestData.term
        },
      })
    },
    setTimeLimit() {
      this.minutes = '00';
      this.seconds = '00';

      this.timeLimit = new Date();
      this.timeLimit.setTime(new Date().getTime() + (180 * 60 * 1000));
      localStorage.timeLimit = this.timeLimit;
      this.expired = false;
    },
    removeTimeLimit() {
      this.timeLimit = null;
      localStorage.removeItem('timeLimit');
    },
    filterSlider(_this) {
      _this.filteredOffers = _this.responseData.offers.filter(function(offer) {
        let currentTerm = parseInt(offer.term_max);
        if(offer.term_unit === 'месяцев') {
          currentTerm *= 30;
        }

        return parseFloat(offer.limit_max) >= parseFloat(_this.amount) && parseInt(currentTerm) >= parseInt(_this.term);
      });
    },
    saveOffers() {
      let data = {
        'offers': this.offers,
        'amount': this.requestData.amount,
        'term': this.requestData.term,
      };

      localStorage.setItem('offers', JSON.stringify(data));
    }
  },
  watch: {
    amount(val) {
      let _this = this;
      this.filterSlider(_this);

      this.offersCount = this.getOfferCount();
    },
    term(val) {
      let _this = this;
      this.filterSlider(_this);

      this.offersCount = this.getOfferCount();
    },
    bank() {
     this.offersCount = this.getOfferCount();
    },
    mfo() {
      this.offersCount = this.getOfferCount();
    },
    expired() {
      if(this.expired) {
        this.removeTimeLimit();
      }
    },
  },
  computed: {
    theTime() {
      let ctx = this;
      let x = setInterval(function () {
        let countDownDate = new Date(ctx.timeLimit),
                now = new Date(),
                diff = countDownDate - now,

                thours = Math.floor((diff % 86400000) / 3600000),
                tminutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60)),
                tseconds = Math.floor((diff % (1000 * 60)) / 1000);

        ctx.minutes = (((thours * 60) + tminutes) < 10) ? '0' + tminutes : ((thours * 60) + tminutes);
        ctx.seconds = (tseconds < 10) ? '0' + tseconds : tseconds;

        if (diff < 0) {
          clearInterval(x);
          ctx.expired = true;
        }
      }, 1000);

      return {
        minutes: ctx.minutes,
        seconds: ctx.seconds
      };
    }
  },
  mounted() {
    this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.me).then(response => {
      if(response.data) {
        this.subscription = response.data.subscription;
      }
    }).catch(error => console.log(error));

    this.$axios.get(this.$api.baseUrl + this.$api.apiUrl.offer).then(response => {
      if(response.data.success) {
        this.responseData.offers = response.data.data;
        // this.offers = this.responseData.offers;

        if(this.responseData.offers.length) {
          let minAmount = this.responseData.offers.reduce(function(prev, curr) {
            return parseFloat(prev.limit_min) < parseFloat(curr.limit_min) ? prev : curr;
          });

          let maxAmount = this.responseData.offers.reduce(function(prev, curr) {
            return parseFloat(prev.limit_max) > parseFloat(curr.limit_max) ? prev : curr;
          });

          let minTerm = parseInt(this.responseData.offers[0].term_min);
          let maxTerm = parseInt(this.responseData.offers[0].term_max);

          for(let i = 0; i < this.responseData.offers.length; i++) {
           let currMin = parseInt(this.responseData.offers[i].term_min);
           let currMax = parseInt(this.responseData.offers[i].term_max);

            if(this.responseData.offers[i].term_unit === 'месяцев') {
              currMin = parseInt(this.responseData.offers[i].term_min * 30);
              currMax = parseInt(this.responseData.offers[i].term_max * 30);
            }

            if((parseInt(minTerm) > parseInt(currMin))) {
              minTerm = currMin ;
            }

            if((parseInt(maxTerm) < parseInt(currMax))) {
              maxTerm = currMax;
            }
          }


          this.minAmount = minAmount.limit_min;
          this.maxAmount = maxAmount.limit_max;

          this.minTerm = minTerm;
          this.maxTerm = maxTerm;

          this.amount = Math.round(this.maxAmount / 2);
          this.term = Math.round(this.maxTerm / 2);

          let _this = this;
          this.filteredOffers = this.responseData.offers.filter(function(offer) {
            return parseFloat(offer.limit_max) >= _this.amount;
          });
        }

        this.offersCount = this.filteredOffers.length;
      }
    }).catch(error => console.log(error));

    this.timeLimit = localStorage.getItem('timeLimit');
    const offersData = JSON.parse(localStorage.getItem('offers'));

    if(offersData.offers) {
      this.offers = offersData.offers;
    }

    this.requestData.amount = offersData.amount;
    this.requestData.term = offersData.term;
  },
}
</script>

<style scoped lang="scss">
  @import "../assets/style/mixins.scss";
  @import "../assets/style/colors.scss";

  .microloan {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;

    &__equal {
      margin-right: 20px;

      @include min_834_max_919 {
        margin-right: 15px;
      }
    }
  }

  .mobile-info {
    display: none;

    .info__block:hover {
      cursor: pointer;
    }

    @include s_1240 {
      display: block;
      position: fixed;
      bottom: 100px;
      left: 10px;
      width: 100%;

      .success {
        position: absolute;
        left: -1px;
      }

      .info__descriptions {
        display: none;
      }

      .open {
        z-index: 5;
        max-width: 335px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 3px 25px rgba(49, 49, 49, 0.35);
        border-radius: 12px;
        padding: 15px;

        display: flex;
        flex-direction: row;

        @include s_375 {
          width: 276px;
          bottom: -75px;
        }

        .time-l {
          display: none !important;
        }

        .info__descriptions {
          display: block;
          width: 86%;
          padding-left: 15px;

          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;

          &.info__descriptions-waiting {
            display: flex;
            align-items: center;
            padding-right: 10px;
          }
        }
      }

      .warning, .waiting {
        position: absolute;
        right: 19px;
      }

      .waiting {
        display: flex;

        .time {
          font-size: 25px;
          line-height: 30px;
          display: flex;
          align-items: center;
          text-transform: capitalize;

          color: $yellow;
        }

        .info__icon {
          z-index: 2;
        }

        .time-l {
          display: block;
          padding: 10px 25px 10px 13px;
          background: #FFFFFF;
          box-shadow: 0 3px 25px rgba(49, 49, 49, 0.35);
          border-radius: 8px 0 0 8px;
          position: absolute;
          left: -90px;
        }
      }
    }
  }

  .filter {
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #F6F6FA;
    box-shadow: 0 4px 64px rgba(159, 169, 188, 0.24);
    border-radius: 12px;
    margin-bottom: 50px;


    &__header-block {
      display: flex;
      justify-content: space-between;

      &-right {
        @include s_834 {
          display: none;
        }
      }
    }

    &__footer-block {
      display: flex;
      justify-content: space-between;
    }

    &__label {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      text-transform: capitalize;
      color: #304456;
      margin: 0 0 20px 0;

      @include s_834 {
        font-size: 24px;
        line-height: 29px;
      }
    }

    &__amount {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #304456;
      margin: 0;

      @include s_834 {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &__btn {
      border: none;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      align-items: center;

      color: #54545E;

      background: #FFFFFF;
      border-radius: 5px;

      box-shadow: 0 2px 8px rgba(159, 169, 188, 0.56);

      padding: 10px 23px;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
      }

      &__active {
        background: $green;
        color: #FFFFFF;
      }
    }

    &__btn-result {
      padding: 19px 63px;
      margin-left: 65px;
      min-width: 348px;
      max-height: 72px;
      align-items: center;
      display: flex;

      @include s_834 {
        display: none;
      }

      .count {
        /*background: #73D69C;*/
        /*border-radius: 50%;*/

        /*font-style: normal;*/
        /*font-weight: bold;*/
        /*font-size: 16px;*/
        /*line-height: 19px;*/

        /*text-align: center;*/
        /*color: #FFFFFF;*/

        /*padding: 7px 9px 7px 9px;*/

        background-image: url("../assets/img/result-bg.svg");
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 14px;
        align-items: center;
        display: inline-flex;


        .value {
          text-align: center;
          width: 34px;
        }
      }
    }

    &__btn-result-mob {
      padding: 10px 40px;
      width: 100%;
      max-height: 50px;
      align-items: center;
      margin-top: 35px;
      display: flex;
      justify-content: center;;

      @include s_375 {
        padding: 19px 24px;
      }

      @include min_834 {
        display: none;
      }

      .count {
        background-image: url("../assets/img/result-bg.svg");
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 14px;
        align-items: center;
        display: inline-flex;


        .value {
          text-align: center;
          width: 34px;
        }
      }
    }

    &__sliders {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 25px;
    }

    &__slider {
      width: 100%;
      align-self: center;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 80px;
      }

      .current-sum, .current-term {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-align: right;

        position: absolute;
        right: 0;
        top: -30px;

        background: #FFFFFF;

        @include s_834 {
          font-size: 12px;
          line-height: 15px;
        }
      }

      .current-term {
        top: -8px;
      }

      .min-sum, .max-sum {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        text-transform: capitalize;
        color: #8D8D94;

        position: absolute;
        bottom: -26px;

        @include s_834 {
          font-size: 12px;
          line-height: 15px;
        }
      }

      .min-sum {
        left: 0;
      }

      .max-sum {
        right: 0;
      }

      .range {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        height: 4px;


        border-radius: 2px;

        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        background-color: #E1E4EB;

        &::-moz-focus-outer {
          border: 0;
        }

        &::-moz-range-thumb {
          width: 24px;
          height: 24px;
          background: #FFFFFF;
          box-shadow: 0 4px 8px rgba(130, 136, 148, 0.28), 0 0 2px rgba(130, 136, 148, 0.16);
          border-radius: 50%;
          cursor: pointer;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          margin-top: -10px;
          width: 24px;
          height: 24px;
          background: #FFFFFF;
          box-shadow: 0 4px 8px rgba(39, 39, 41, 0.12), 0 0 2px rgba(39, 39, 41, 0.12);
          border-radius: 50%;
          cursor: pointer;
        }


        &::-moz-range-progress {
          background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
          height: 4px;
          border-radius: 2px;
        }

        &::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
          height: 4px;
          border-radius: 2px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .results {
    display: flex;
    justify-content: space-between;

    @include min_835_max_1240 {
      width: 100%;
    }

    .sum {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 452px;

      @include min_376_max_834 {
        max-width: 776px;
      }
    }

    .control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 192px;
      margin-left: 32px;

      @include s_834 {
        margin-left: 0;
      }
    }

    &__apply {
      padding: 18px 37px;

      &-disabled {
        opacity: 0.7;

        &:hover {
          cursor: not-allowed;
        }
      }

      @include s_834 {
        padding: 14px 88px;
        margin-top: 25px;
      }

      @include min_834_max_919 {
        max-width: 170px;
        padding: 13px 0;
        font-size: 15px;
      }

      @include s_375 {
        padding: 15px 60px;
      }
    }

    &__items {
      width: 100%;

      @include s_1240 {
        width: 100%;
      }

      @include min_1240 {
        max-width: 921px;
      }
    }

    &__item {
      background: #FFFFFF;
      box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
      border-radius: 12px;
      padding: 15px 25px;
      display: flex;
      margin-bottom: 25px;

      @include min_1240 {
        max-width: 921px;
        max-height: 170px;

        .bank {
          margin-right: 7px;
        }
      }

      @include s_834 {
        display: flex;
        flex-direction: column;

        padding: 25px 20px;

        .bank {
          display: flex;
          flex-flow: column wrap;
          position: relative;

          .chance {
            position: absolute;
            right: 15px;
            top: 1px;
          }

          .rate {
            position: absolute;
            right: 15px;
            top: 32px;
          }
        }
      }

      @include min_376_max_834 {
        .bank {
          .chance {
            right: -20px;
          }

          .rate {
            right: -20px;
          }
        }
      }

      @include min_835_max_1240 {
        justify-content: space-between;
      }

      @include s_375 {
        .bank {
          .chance {
            right: 0;
          }

          .rate {
            right: 0;
          }
        }
      }

      .logo {
        padding: 27px 35px 27px 0;

        @include min_1240 {
          padding: 23px 35px 23px 0;

          &__premium {
            padding: 10px 35px 10px 0
          }
        }

        img {
          max-width: 156px;
          max-height: 56px;
        }

        @include s_834 {
          padding: 0 35px 19px 0;
          width: 152px;
          height: 50px;
        }

        @include s_375 {
          img {
            width: 120px;
          }
        }

        @include min_834_max_919 {
          width: 140px;
        }
      }

      .info-label {
        @include s_834 {
          width: 138px;
        }

        .label {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: $green;
          margin-right: 5px;

          @include s_834 {
            font-size: 10px;
            line-height: 12px;
          }
        }

        .chance-value {
          margin-left: 8px;
          font-size: 18px;
          line-height: 22px;
          font-weight: 800;
          color: $green;

          @include s_834 {
            font-size: 14px;
            line-height: 18px;
          }
        }

        .rate-value {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #304456;
          margin-left: 10px;

          @include s_834 {
            margin-left: 18px;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      .calc, .re-calc {
        .plus {
          background-image: url("../assets/img/plus.svg");
          min-width: 16px;
          height: 30px;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;

          @include s_834 {
            display: none;
          }
        }

        .equal {
          background-image: url("../assets/img/equal.svg");
          min-width: 16px;
          height: 30px;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          align-self: center;

          @include s_834 {
            display: none;
          }
        }

        @include min_835_max_1240 {
          justify-content: space-between;
        }
      }

      .re-calc {
        display: flex;

        @include min_376_max_834 {
          justify-content: space-between;
        }
      }

      .calc {
        display: flex;
        position: relative;

        @include min_376_max_834 {
          justify-content: space-between;
        }

        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid #D7D7D7;
          bottom: 0;
          border-radius: 5px;
        }

        &__block {
          display: flex;
          flex-direction: column;
          max-width: 120px;
          min-width: 120px;

          &-body {
            @include s_1240 {
              margin-right: 21px;
            }
          }

          &-commission {
            margin-right: 10px;

            @include min_834_max_919 {
              min-width: 90px;
              max-width: 90px;
            }
          }

          &-first-credit {
            margin-right: 35px;
          }

          &-repeated-credit {
            margin-right: 57px;

            @include min_1240 {
              margin-right: 47px;
            }

            @include min_834_max_919 {
              margin-right: 10px;
            }
          }

          @include s_834 {
            &-body {
              display: none;
            }

            &-commission {
              margin-right: 61px;
            }

            &-first-credit {
              margin-right: 62px;
            }

            &-repeated-credit {
              display: none;
            }
          }

          @include s_375 {
            &-commission {
              margin-right: 22px;
            }

            &-first-credit {
              margin-right: 23px;
            }
          }

          @include min_834_max_919 {
            &-first-credit {
              margin-right: 58px;
            }
          }

          @include min_920_max_1240 {
            &-first-credit {
              margin-right: 57px;
            }

            &-repeated-credit {
              margin-right: 46px;
            }
          }

          .label {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            opacity: 0.67;

            margin-bottom: 5px;
            padding-top: 17px;
          }

          .sum {
            display: flex;
            flex-direction: row;


            .old-value {
              font-style: normal;
              font-weight: 800;
              font-size: 14px;
              line-height: 17px;

              text-decoration-line: line-through;
              color: #FF695B;
              margin-right: 5px;
              padding-top: 6px;
            }

            .credit-color {
              color: #FF695B !important;
            }

            .value, .re-calc-value {
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 29px;
              text-align: right;
              color: $main;
              margin-right: 5px;
            }

            .re-calc-value {
              font-size: 18px;
              line-height: 22px;
              margin-bottom: 0;
            }

            .currency {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              opacity: 0.67;
              align-self: center;
            }
          }
        }
      }
    }

    .info {
      max-width: 280px;

      &__block {
        background: #FFFFFF;
        box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 30px 21px 21px 21px;
        margin-bottom: 25px;

        .btn-waiting-premium {
          text-decoration: none;
          font-size: 18px;
          line-height: 17px;
          font-weight: 600;
          text-align: center;
          color: $main;
          padding: 15px 0 5px 0;

          &:hover {
            cursor: pointer;
          }
        }

        @include s_1240 {
          display: none;
        }
      }

      &__label {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-transform: capitalize;
        padding: 25px 0 15px 0;
      }

      &__descriptions {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        opacity: 0.67;
      }

      &__sub-descriptions {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;

        text-align: center;

      }

      .btn-premium {
        margin: 20px 0 10px 0;
        padding: 13px 40px;

        &__more {
          padding: 8px 74px;
        }
      }
    }
  }

  .info__icon {
    width: 100px;
    height: 100px;
    border-radius: 12px;

    background-repeat: no-repeat;
    background-position: center;

    @include s_1240 {
      width: 50px;
      height: 50px;
    }
  }

  .warning {
    .info__icon {
      background-color: $red;
      background-image: url("../assets/img/warning.svg");

      @include s_1240 {
        background-image: url("../assets/img/warning-mob.svg");
      }
    }

    .info__label {
      color: $red;
    }
  }

  .success {
    .info__icon {
      background-color: $green;
      background-image: url("../assets/img/success.svg");

      @include s_1240 {
        background-image: url("../assets/img/success-mob.svg");
      }
    }

    .info__label {
      color: $green;
    }
  }

  .waiting {
    .info__icon {
      box-shadow: 5px 5px 14px rgba(235, 186, 22, 0.55);

      background: $yellow url("../assets/img/waiting.svg") no-repeat center;

      @include s_1240 {
        background: $yellow url("../assets/img/waiting-mob.svg") no-repeat center;
      }
    }

    .info__label {
      color: $yellow;
    }
  }
</style>