<template>
    <div class="preloader">
        <div class="bg-overlay preloader-show">
            <div class="icon"></div>
            <span class="title">Продолжаем подбирать подходящие кредиты.</span>
            <span class="descriptions">Это может занять еще 2-3 минуты.</span>

            <router-link tag="button" :to="{name: 'Premium'}" class="btn-main preloader__btn">
                Получить премиум
            </router-link>

            <div class="sub-descriptions">
                <span class="sub-descriptions__icon"></span>
                <span class="sub-descriptions__text">
                Увеличенная вероятность одобрения по Вашей заявке по каждому предложению
            </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Preloader',
    }
</script>

<style scoped lang="scss">
    @import "../assets/style/mixins.scss";

    @keyframes moving {
        100% {transform: rotate(360deg);}
    }

    .icon {
        width: 250px;
        height: 250px;

        background-image: url("../assets/img/preloader-icon.svg");
        background-position: center;
        background-repeat: no-repeat;

        animation: moving 7s infinite linear;
    }

    .bg-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), rgba(255, 255, 255, 0.5);
        z-index: 9999;
        display: none;

        .title {
            margin-top: 25px;

            font-family: 'Montserrat-Bold', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            @include s_834 {
                font-size: 18px;
                line-height: 30px;
            }
        }

        .descriptions {
            margin-top: 15px;

            color: #3DCC79;
            font-family: 'Inter-SemiBold', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;

            @include s_834 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 19px;
            }
        }

        button {
            margin-top: 25px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            padding: 8px 45px;

            @include s_834 {
                margin-top: 30px;
                font-size: 18px;
                line-height: 22px;
                padding: 14px 80px;
            }

            @include s_375 {
                font-size: 16px;
            }
        }

        .sub-descriptions {
            display: flex;
            align-items: center;
            margin-top: 65px;

            @include s_834 {
                margin-top: 53px;
                padding: 0 20px;
            }

            &__icon {
                box-shadow: 5px 5px 14px rgba(58, 184, 111, 0.45);
                border-radius: 3px;

                width: 30px;
                height: 30px;

                @include s_834 {
                    min-width: 30px;
                    min-height: 30px;
                }

                background: #3AB86F url("../assets/img/crown.svg") no-repeat center;

                margin-right: 15px;
            }

            &__text {
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;

                font-family: Inter-SemiBold, sans-serif;

                @include s_834 {
                    font-size: 14px;
                }
            }
        }
    }

    .preloader-show {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>