<template>
    <div>
        <Header />

        <div class="premium">
            <div class="container mt-45">
                <div class="about">
                    <div class="about__top">
                        <img src="../assets/img/landing-premium.svg">
                        <div class="label">
                            <span>Что такое</span>
                            <span class="premium">премиум?</span>
                        </div>
                    </div>
                    <div class="about__bottom">
                        <div class="about__item">
                            <img src="../assets/img/icon-rate.svg" class="about__icon">
                            <span class="descriptions">Рейтинг надежности кредитных организаций</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-request.svg" class="about__icon">
                            <span class="descriptions">Отправляйте заявки во все одобренные кредитные организации</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-probability.svg" class="about__icon">
                            <span class="descriptions">Вероятность одобрения по Вашей заявке по каждому предложению</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-new.svg" class="about__icon">
                            <span class="descriptions">Каждый день новые предложения</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-time.svg" class="about__icon">
                            <span class="descriptions">Нет ограничений по времени</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-sms.svg" class="about__icon">
                            <span class="descriptions">СМС информирование о статусе Ваших заявок</span>
                        </div>

                        <div class="about__item">
                            <img src="../assets/img/icon-list.svg" class="about__icon">
                            <span class="descriptions">Нет ограничений по времени</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="get-premium">
                <div class="container get-premium__container">
                    <div class="info__block success">
                        <div class="info__icon"></div>
                        <span class="info__label">ПРЕМИУМ!</span>
                        <div class="info__descriptions">
                            Премиум статус активен! <br>
                            Спасибо!
                        </div>

                        <button class="btn-main btn-premium">
                            Подробнее
                        </button>

                        <a href="#" class="info__descriptions info__sub-descriptions">подробнее об аккаунте</a>
                    </div>

                    <div class="info__text">
                    <span class="label">
                        Снимите ограничение и отправьте все одобренные заявки. <br>
                        Получите возможность просматривать шанс одобрения и рейтинги банков!
                    </span>
                        <span class="get-button">
                        <button class="btn-main btn-get-premium" @click.prevent="buyPremium">
                            Купить премиум
                        </button>
                    </span>

                        <span class="descriptions">стоимость услуги составляет 1932 ₸</span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="faq">
                    <div class="info-label">Часто задаваемые вопросы</div>

                    <div class="info-accord">
                        <div class="info-accord__items">
                            <div class="info-accord__item" ref="how-much">
                                <div class="info-accord__label">
                                    <div class="label" @click.prevent="showHide('how-much')">
                                        <span>Сколько стоит премиум?</span>
                                        <span class="plus">+</span>
                                        <span class="minus">—</span>
                                    </div>

                                    <div class="text">
                                        Стоимость услуги составляет 1932 ₸
                                    </div>
                                </div>
                            </div>

                            <div class="info-accord__item" ref="how-valid">
                                <div class="info-accord__label">
                                    <div class="label" @click.prevent="showHide('how-valid')">
                                        <span>Сколько действует примиум?</span>
                                        <span class="plus">+</span>
                                        <span class="minus">—</span>
                                    </div>

                                    <div class="text">
                                        Он неограничен по времени. Вы можете пользоваться предложениями неограниченное количество времени
                                    </div>
                                </div>
                            </div>

                            <div class="info-accord__item" ref="opt-out">
                                <div class="info-accord__label">
                                    <div class="label" @click.prevent="showHide('opt-out')">
                                        <span>Могу ли я отказаться от премиума?</span>
                                        <span class="plus">+</span>
                                        <span class="minus">—</span>
                                    </div>

                                    <div class="text">
                                        Да, конечно. Вы можете это сделать в любое время на странице "Профиль"
                                    </div>
                                </div>
                            </div>

                            <div class="info-accord__item" ref="required">
                                <div class="info-accord__label">
                                    <div class="label" @click.prevent="showHide('required')">
                                        <span>Обязателен ли примиум?</span>
                                        <span class="plus">+</span>
                                        <span class="minus">—</span>
                                    </div>

                                    <div class="text">
                                        Конечно нет. Вы можете отправлять 1 заявку в 180 минут, если Вам хватит терпения.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>

<script>
    import Header from "./Partials/Header";
    import Footer from "./Partials/Footer";

    export default {
        name: 'Premium',
        components: {Footer, Header},
        methods: {
            showHide(ref) {
                if(this.$refs[ref].classList.contains('open')) {
                    this.$refs[ref].classList.remove('open')
                } else {
                    this.$refs[ref].classList.add('open')
                }
            },
            buyPremium() {
                this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.subscription_start).then(response => {
                    if(response.data.url) {
                        window.location.href = response.data.url;
                    }
                }).catch(error => console.log(error));
            },
        },
    }
</script>

<style scoped lang="scss">
    @import "../assets/style/mixins";

    .premium {
        font-style: normal;

        display: flex;
        flex-direction: column;
        align-content: center;
        position: relative;

        color: #304456;
    }

    .about {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 69px;

            @include s_834 {
                flex-direction: column;
                align-items: center;

                img {
                    width: 274px;
                    height: 272px;
                    margin-bottom: 30px;
                }
            }

            @include min_835_max_1240 {
                padding: 0 20px;
            }

            .label {
                font-weight: bold;
                font-size: 55px;
                line-height: 81px;

                @include s_834 {
                    font-size: 35px;
                    line-height: 51px;
                }

                @include s_375 {
                    font-size: 30px;
                    line-height: 35px;
                }

                .premium {
                    font-size: 100px;
                    line-height: 147px;

                    @include s_834 {
                        font-size: 60px;
                        line-height: 88px;
                    }

                    @include s_375 {
                        font-size: 50px;
                        line-height: 65px;
                    }
                }
            }
        }

        &__bottom {
            display: flex;
            flex-flow: row wrap;
        }

        &__item {
            display: flex;
            align-items: center;
            width: 492px;

            @include s_834 {
                margin-left: 15px;
            }

            @include min_835_max_1240 {
                width: 350px;
            }


            &:not(:last-child) {
                margin-right: 77px;

                @include s_834 {
                    margin-right: 0;
                }

                @include min_835_max_1240 {
                    margin-right: 0;
                }
            }

            .descriptions {
                font-weight: bold;
                font-size: 18px;
                margin: 0 25px 35px 0;

                @include s_834 {
                    font-size: 14px;
                    line-height: 21px;

                    margin: 0 0 20px 0;
                }

                @include s_375 {
                    font-size: 13px;
                    line-height: 19px;
                }

                @include min_835_max_1240 {
                    font-size: 13px;
                    margin: 0 10px 20px 20px;
                }
            }
        }

        &__icon {
            min-width: 60px;
            max-width: 60px;
            min-height: 60px;
            max-height: 60px;
            background: #FFFFFF no-repeat center;
            display: block;

            margin: 0 25px 35px 0;

            @include s_834 {
                margin: 0 25px 20px 0;
            }

            @include s_375 {
                margin: 0 10px 20px 0;
            }

            @include min_835_max_1240 {
                margin: 0 15px 20px 20px
            }
        }
    }

    .get-premium {
        margin-top: 30px;
        width: 100%;

        background: linear-gradient(111.85deg, #FFFFFF -60.15%, rgba(255, 255, 255, 0.313332) -47.46%, rgba(255, 255, 255, 0.23) 1.61%, rgba(255, 255, 255, 0.0411796) 34.68%, rgba(255, 255, 255, 0) 52.56%), linear-gradient(0deg, #304456, #304456), radial-gradient(148.33% 392.9% at -65.8% -267.1%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #21C766;

        &__container {
            display: flex;
            align-items: center;

            @include s_834 {
                flex-direction: column;
                align-content: center;
                padding-bottom: 108px;
            }
        }
    }

    .info {
        &__block {
            margin: 56px 120px 56px 15px;
            padding: 30px 21px 25px 21px;
            width: 280px;
            background: #FFFFFF;
            box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
            border-radius: 12px;

            display: flex;
            flex-direction: column;
            align-items: center;

            @include s_834 {
                margin: 100px auto 35px auto;
            }

            @include s_375 {
                padding: 30px 15px 25px 15px;
            }

            @include min_835_max_1240 {
                margin: 56px 120px 56px 15px
            }
        }

        &__icon {
            width: 100px;
            height: 100px;
            border-radius: 12px;

            background-repeat: no-repeat;
            background-position: center;
        }

        &__descriptions {
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            padding: 15px 0;

        }

        &__sub-descriptions {
            text-decoration: none;
            opacity: 0.67;
            padding: 10px 0 0 0;
            color: #304456;
            &:visited {
                color: #304456;
            }
        }

        &__text {
            text-align: center;
            display: flex;
            flex-direction: column;
            .label {
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                color: #FFFFFF;

                @include s_834 {
                    font-size: 16px;
                    line-height: 28px;

                    max-width: 335px;
                    width: 100%;
                }

                @include s_375 {
                    max-width: 300px;
                }
            }

            .get-button {
                margin-top: 35px;
            }

            .descriptions {
                margin-top: 20px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;

                @include s_834 {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    .success {
        .info__icon {
            background-color: #3AB86F;
            background-image: url("../assets/img/success.svg");
        }

        .info__label {
            color: #3AB86F;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;

            padding-top: 25px;
        }
    }

    .btn-premium {
        padding: 8px 74px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    .btn-get-premium {
        padding: 21px 73px;

        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        @include s_834 {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .faq {
        margin: 90px 0;

        .info-label {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;

            @include s_1240 {
                margin-left: 25px;
                font-size: 18px;
                line-height: 22px;
            }
        }

        .info-accord {
            margin-top: 35px;

            &__label {
                font-style: normal;
                font-weight: 600;

                @include s_834 {
                    font-size: 14px;
                    line-height: 40px;
                }

                .text {
                    font-weight: 500;

                    @include s_834 {
                        line-height: 30px;
                    }
                }
            }
        }


    }
</style>