<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Microloan from './components/Microloan.vue'
import Premium from './components/Premium.vue'
import Approved from './components/Approved.vue'

export default {
  name: 'App',
  components: {
    Microloan,
    Premium,
    Approved,
  }
}
</script>